{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            "chrome > 58",
            "ie 11"   
          ]       
        }
      }
    ],
    "@babel/react"
  ]
}
